*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--sans-serif);
  font-size: var(--text-md);
  line-height: 1.6;
  background-color: var(--lightGrey);
}

header {
  background-color: #30354b;
  color: #e6e9ee;
  text-align: left;
  padding: 1rem;
  margin: 0%;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link color the same as the surrounding text */
}

h1 {
  font-family: var(--serif);
  margin: 0;
}