footer {
  background-color: #30354b;
  color: #fff;
  text-align: left;
}

.footer__localisation {
  list-style: none;
}

.footer__title {
  color: #858ba5;
}

.reseaux__icons {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.bottom__text {
  list-style: none;
  display: flex;
  gap: 1rem;
}
